
.section-modal{
    background-color: black;
}

.salom{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 110px;

}

.modal-link {
    display: flex;
    flex-direction: column;
    gap: 33.31px;
    align-items: center;
    justify-content: center;
    position: relative;

}

.movie-about {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

.movie-about-year-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;

    .movei-about-name {
        width: 124px;
        color: #FFF;
        font-family: Electrolize;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .movie-about-year {
        color: #CF0;
        font-family: Imprima;
        font-size: 17.589px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.movei-about-quality-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;

    .movei-about-quality {
        width: 26px;
        height: 18px;
        padding-top: 1px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 4px;
        border: 1px solid #FFF;
        background: rgba(217, 217, 217, 0.00);
        color: #FFF;
        font-family: Imprima;
        font-size: 12.792px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .movie-about-time {
        display: flex;
        align-items: center;
        color: #FFF;
        font-family: Imprima;
        font-size: 10.393px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}